* {
  -os-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

body button {
  outline: none !important;
  text-transform: capitalize !important;
}

/*start fram work to this site*/
/*start site elements color*/
/*end site elements color*/
.devition_content .pairent .chiled .overlay, .features .main_pairent .bottom_pairent .add_over2, .features .main_pairent .bottom_pairent .add_over1, .feedback .pairent .right_back .overlay, .feedback .pairent .chil_1 .overlay, .expertes .overlay, .clients_say .pairent .display_image .overlay, .clients_say .pairent .chiled .overlay, .about .container .columan_flex .pairent_features .chiled .main .style_over, header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6) !important;
}

/*this is mixin for keyframs*/
/*this style for right scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #292929;
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fdc721;
}

::-webkit-scrollbar-thumb:hover {
  background: #292929;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/*this class will be added to navbar after scrolling  to top */
.active-li {
  color: #ccc !important;
}

/*adding style to navbar after scroll*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding: 15px 0;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 991px) {
  .navbar {
    background-color: rgba(253, 199, 33, 0.9);
  }
}
.navbar .container-fluid img.navbar-brand {
  padding: 5px 10px !important;
  text-transform: capitalize;
  height: 50px;
}
@media (min-width: 992px) {
  .navbar .container-fluid img.navbar-brand {
    margin-left: 60px;
    height: 60px !important;
  }
}
.navbar .container-fluid .navbar-toggler {
  padding: 0;
  margin: 0 10px;
}
.navbar .container-fluid .navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar .container-fluid .navbar-toggler-icon i {
  font-size: 31px;
}
@media (min-width: 992px) {
  .navbar .container-fluid .collapse {
    justify-content: flex-end !important;
  }
}
.navbar .container-fluid .collapse .navbar-nav {
  margin-right: 100px !important;
}
@media (min-width: 992px) {
  .navbar .container-fluid .collapse .navbar-nav {
    gap: 19px !important;
  }
}
.navbar .container-fluid .collapse .navbar-nav a {
  font-size: 20px;
  padding: 5px 10px !important;
  color: #fff;
  text-transform: capitalize;
}

.scroll {
  /*   border-bottom: 1px solid $p-color;
  */
  box-shadow: 0 0 25px -10px #000;
  -webkit-box-shadow: 0 0 25px -10px #000;
  -moz-box-shadow: 0 0 25px -10px #000;
  background-color: #fdc721 !important;
  /*end navbar style*/
}

header {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}
@media (max-width: 1255px) {
  header {
    height: 1100px;
  }
}
@media (max-width: 1050px) {
  header {
    height: 1350px;
  }
}
header video {
  min-height: 100%;
  min-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
header .overlay {
  background-color: rgba(41, 41, 41, 0.9) !important;
}
header .main_content {
  position: absolute !important;
  width: 100%;
  top: 100px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main_content .top_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
header .main_content .top_main .top_content_info {
  padding: 70px 20px 50px 100px;
}
@media (max-width: 767px) {
  header .main_content .top_main .top_content_info {
    padding: 70px 20px 50px 20px;
  }
}
header .main_content .top_main .top_content_info h3, header .main_content .top_main .top_content_info h1, header .main_content .top_main .top_content_info span {
  font-style: normal;
  text-transform: capitalize;
  margin: 5px 0;
}
header .main_content .top_main .top_content_info h3 {
  color: #fff;
  letter-spacing: 1px;
}
header .main_content .top_main .top_content_info h1 {
  color: #fdc721;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}
header .main_content .top_main .top_content_info span {
  color: #ccc;
  letter-spacing: 1px;
  display: block;
  max-width: 570px;
}
@media (max-width: 767px) {
  header .main_content .top_main .top_content_info h1 {
    font-size: 48px;
  }
  header .main_content .top_main .top_content_info span {
    max-width: 350px;
  }
}
header .main_content .top_main .top_content_info button {
  width: 140px;
  height: 38px;
  border: 2px solid #fdc721;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}
header .main_content .top_main .top_content_info button a {
  padding: 7px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}
header .main_content .top_main .top_content_info button.style {
  background-color: #fdc721;
}
header .main_content .top_main .top_content_info button.transpa {
  margin: 20px 20px;
  border: 2px dotted #fdc721;
}
header .main_content .top_main .top_content_info button.transpa:hover {
  background-color: #fdc721;
}
header .main_content .top_main img {
  height: 400px;
}
@media (max-width: 767px) {
  header .main_content .top_main img {
    height: 320px;
  }
}
header .main_content .bottom_content_info {
  position: absolute;
  bottom: 10px;
}
header .main_content .bottom_content_info .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
@media (max-width: 1025px) {
  header .main_content .bottom_content_info .pairent {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    gap: 20px;
  }
}
header .main_content .bottom_content_info .pairent .chiled {
  display: flex;
  padding: 15px;
  flex-direction: column;
  background-color: rgba(253, 199, 33, 0.9);
}
header .main_content .bottom_content_info .pairent .chiled .head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
header .main_content .bottom_content_info .pairent .chiled .head i {
  color: #292929;
  font-size: 35.2px;
}
header .main_content .bottom_content_info .pairent .chiled .head h3 {
  font-size: 16px;
  color: #fff;
  padding-left: 10px;
}
header .main_content .bottom_content_info .pairent .chiled .foot {
  padding-top: 10px;
}
header .main_content .bottom_content_info .pairent .chiled .foot span {
  max-width: 300px;
  font-size: 13px;
  color: #292929;
  display: block;
}
header .main_content .bottom_content_info .pairent .chiled .foot span span {
  display: inline-block !important;
  color: #fff;
  padding-left: 7px;
}
header .main_content .bottom_content_info .pairent .chiled.style {
  background-color: #292929;
}
header .main_content .bottom_content_info .pairent .chiled.style h3 {
  color: #fff;
}
header .main_content .bottom_content_info .pairent .chiled.style i {
  color: #fdc721;
}
header .main_content .bottom_content_info .pairent .chiled.style span {
  color: #ccc;
}
header .main_content .bottom_content_info .pairent .chiled.style span span {
  color: #fdc721;
}
.about {
  padding: 200px 0 50px 0;
}
.about .container .columan_flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.about .container .columan_flex .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.about .container .columan_flex .pairent .chiled span, .about .container .columan_flex .pairent .chiled h3, .about .container .columan_flex .pairent .chiled p {
  text-transform: capitalize;
}
.about .container .columan_flex .pairent .chiled span {
  color: #fdc721;
  display: block;
}
.about .container .columan_flex .pairent .chiled h3 {
  margin: 7px 0;
  color: #292929;
}
.about .container .columan_flex .pairent .chiled p {
  max-width: 460px;
  color: #ccc;
  margin: 0;
}
.about .container .columan_flex .pairent .chiled img.sighnut {
  height: 90px;
  margin-top: 0;
}
.about .container .columan_flex .pairent img.right {
  height: 300px;
}
@media (max-width: 767px) {
  .about .container .columan_flex .pairent img.right {
    height: 270px;
  }
}
.about .container .columan_flex .pairent_features {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
@media (max-width: 991px) {
  .about .container .columan_flex .pairent_features {
    justify-content: center;
  }
}
.about .container .columan_flex .pairent_features .chiled .main {
  padding: 50px 50px;
  position: relative !important;
  box-shadow: 0 0 20px rgba(33, 33, 33, 0.1);
  text-align: center;
  overflow: hidden;
  min-width: 260px;
  min-height: 230px;
}
.about .container .columan_flex .pairent_features .chiled .main:hover .style_over {
  -webkit-clip-path: circle(400px at 0% 0%);
          clip-path: circle(400px at 0% 0%);
}
.about .container .columan_flex .pairent_features .chiled .main:hover button {
  position: relative;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  z-index: 9;
}
.about .container .columan_flex .pairent_features .chiled .main:hover button i {
  color: #fff;
}
.about .container .columan_flex .pairent_features .chiled .main:hover h4 {
  color: #fff;
  position: relative;
  z-index: 9;
}
.about .container .columan_flex .pairent_features .chiled .main:hover span {
  color: #fff;
  position: relative;
  z-index: 9;
}
.about .container .columan_flex .pairent_features .chiled .main button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
  border: 1px solid rgba(204, 204, 204, 0.4);
}
.about .container .columan_flex .pairent_features .chiled .main button i {
  color: #fdc721;
  font-size: 18px;
  z-index: 999;
  transition: all 0.6s ease-in-out;
}
.about .container .columan_flex .pairent_features .chiled .main h4 {
  font-size: 16px;
  color: #ccc;
  text-transform: capitalize;
  margin: 10px 0 0 0;
  transition: all 0.6s ease-in-out;
}
.about .container .columan_flex .pairent_features .chiled .main span {
  font-size: 19px;
  font-weight: bold;
  color: #292929;
  transition: all 0.6s ease-in-out;
}
.about .container .columan_flex .pairent_features .chiled .main .style_over {
  -webkit-clip-path: circle(0px at 0% 0%);
          clip-path: circle(0px at 0% 0%);
  transition: all 0.6s ease-in-out;
  background-color: #fdc721 !important;
}
.about .container .columan_flex .pairent_features .chiled .main .__one {
  -webkit-clip-path: circle(0px at 100% 0%);
          clip-path: circle(0px at 100% 0%);
}
.about .container .columan_flex .pairent_features .chiled .main .__tow {
  -webkit-clip-path: circle(0px at 0% 100%);
          clip-path: circle(0px at 0% 100%);
}
.about .container .columan_flex .pairent_features .chiled .main .__three {
  -webkit-clip-path: circle(0px at 100% 100%);
          clip-path: circle(0px at 100% 100%);
}
.about .container .columan_flex .pairent_features .style .main {
  margin-top: 100px;
}
@media (max-width: 991px) {
  .about .container .columan_flex .pairent_features .style .main {
    margin-top: 0;
  }
}

.we_diferrent {
  padding: 70px 0 40px 0;
}
.we_diferrent .container .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}
.we_diferrent .container .pairent .chiled .main p {
  max-width: 500px;
  margin: 0;
  text-transform: capitalize;
  font-size: 19px;
  color: rgba(41, 41, 41, 0.9);
}
.we_diferrent .container .pairent .chiled .main span {
  display: block;
  color: #fdc721;
}
.we_diferrent .container .pairent .chiled .main button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 4px double #fdc721;
  margin-top: 15px;
}
.we_diferrent .container .pairent .chiled .main button a {
  text-decoration: none;
  color: #fdc721;
  text-transform: uppercase;
  font-size: 14px;
}
.we_diferrent .container .pairent .chiled .main_shap {
  padding: 50px;
  background-image: url("../img/gallery/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}
.we_diferrent .container .pairent .chiled .main_shap img {
  padding: 0px;
}

.clients_say {
  min-width: 100%;
}
.clients_say .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 100%;
}
.clients_say .pairent .chiled {
  background-image: url("../img/gallery/1.jpg");
  background-position: center;
  background-size: cover;
  width: 50%;
  position: relative;
}
@media (max-width: 991px) {
  .clients_say .pairent .chiled {
    width: 100%;
  }
}
.clients_say .pairent .chiled .overlay {
  background-color: rgba(41, 41, 41, 0.9) !important;
}
.clients_say .pairent .chiled .main {
  padding: 50px 10px;
}
.clients_say .pairent .chiled .main h3 {
  position: relative;
  text-transform: uppercase;
  color: #fdc721;
  font-weight: bold;
}
.clients_say .pairent .chiled .main p {
  max-width: 500px;
  position: relative;
  color: #ccc;
  text-transform: capitalize;
}
.clients_say .pairent .chiled .main .clip_path span {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 100px;
  height: 90px;
  display: inline-block;
  background-color: #fdc721;
}
.clients_say .pairent .chiled .main .clip_path span.style {
  margin: 10px -40px 0 -40px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.clients_say .pairent .chiled .main span.head {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}
.clients_say .pairent .chiled .main h3.sup_head {
  position: relative;
  font-size: 20px;
  margin: 8px 0 15px 0;
  color: #fff;
}
.clients_say .pairent .chiled .main .counter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.clients_say .pairent .chiled .main .counter .item {
  border: 4px dotted #fff;
  border-bottom-right-radius: 15px;
  padding: 20px;
  position: relative;
  text-align: center;
}
.clients_say .pairent .chiled .main .counter .item h2 {
  position: relative;
  color: #fff;
}
.clients_say .pairent .chiled .main .counter .item h3 {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}
.clients_say .pairent .chiled .left {
  padding: 50px 40px;
}
.clients_say .pairent .display_image {
  background-image: url("../img/gallery/2.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}
.clients_say .pairent .display_image .overlay {
  background-color: rgba(253, 199, 33, 0.9) !important;
}
.clients_say .pairent .display_image .counter {
  padding-bottom: 60px;
}

.expertes {
  position: relative;
  background-image: url("../img/gallery/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  min-height: 500px;
  animation: change 15s linear 8s infinite alternate;
  -webkit-animation: change 15s linear 8s infinite alternate;
}
@-webkit-keyframes change {
  25% {
    background-image: url("../img/gallery/1.jpg");
    background-position: top;
  }
  50% {
    background-image: url("../img/gallery/6.jpg");
    background-position: right;
  }
  75% {
    background-image: url("../img/gallery/7.jpg");
    background-position: bottom;
  }
  100% {
    background-image: url("../img/gallery/2.jpg");
    background-position: left;
  }
}
@keyframes change {
  25% {
    background-image: url("../img/gallery/1.jpg");
    background-position: top;
  }
  50% {
    background-image: url("../img/gallery/6.jpg");
    background-position: right;
  }
  75% {
    background-image: url("../img/gallery/7.jpg");
    background-position: bottom;
  }
  100% {
    background-image: url("../img/gallery/2.jpg");
    background-position: left;
  }
}
.expertes .overlay {
  background-color: rgba(253, 199, 33, 0.9) !important;
}
.expertes .container {
  position: relative;
  text-align: center;
}
.expertes .container h3, .expertes .container p {
  text-transform: capitalize;
}
.expertes .container h3 {
  padding: 70px 0 0 0;
  color: #292929;
}
.expertes .container h3 span {
  color: #fff;
}
.expertes .container p {
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.8);
  max-width: 900px;
  text-align: center;
}
.expertes .container .flexed_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.expertes .container .flexed_item .item img {
  height: 200px;
}
.expertes .container .bottom_block {
  padding: 70px 0 50px 0;
}
.expertes .container .bottom_block .all_control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  place-items: flex-end;
}
.expertes .container .bottom_block .all_control .grow {
  flex-grow: 2;
}
.expertes .container .bottom_block .all_control .main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.expertes .container .bottom_block .all_control .main .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.expertes .container .bottom_block .all_control .main .pairent .heading h3.head {
  margin: 20px 0 10px 0;
  text-align: center;
}
.expertes .container .bottom_block .all_control .main .pairent .heading img.style {
  height: 40px;
}
.expertes .container .bottom_block .all_control .main .pairent .chiled {
  padding: 25px;
}
.expertes .container .bottom_block .all_control .main .pairent .chiled .main_con i {
  padding: 20px 0;
  font-size: 32px;
  color: #fff;
}
.expertes .container .bottom_block .all_control .main .pairent .chiled .main_con h4, .expertes .container .bottom_block .all_control .main .pairent .chiled .main_con span {
  text-transform: capitalize;
  padding: 5x;
}
.expertes .container .bottom_block .all_control .main .pairent .chiled .main_con h4 {
  color: #fff;
}
.expertes .container .bottom_block .all_control .main .pairent .chiled .main_con span {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  max-width: 325px;
}
.expertes .container .bottom_block .all_control .main img.person {
  height: 320px;
  margin-top: 70px;
}
@media (max-width: 1199px) {
  .expertes .container .bottom_block .all_control .main img.person {
    height: 400px;
  }
}

.feedback {
  min-width: 100%;
}
.feedback:hover .chil_1 .overlay {
  left: 0 !important;
}
.feedback .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 500px;
}
@media (max-width: 1124px) {
  .feedback .pairent {
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
}
.feedback .pairent .chil_1 {
  position: relative;
}
.feedback .pairent .chil_1 .overlay {
  background-color: rgba(41, 41, 41, 0.7) !important;
  transition: all 0.7s ease-in-out;
  left: 100%;
}
.feedback .pairent .chiled {
  background-image: url("../img/gallery/7.jpg") !important;
  background-position: center;
  background-size: cover;
  width: 50% !important;
}
@media (max-width: 1124px) {
  .feedback .pairent .chiled {
    width: 100% !important;
    min-height: 400px;
  }
}
.feedback .pairent .chiled .add_marg {
  background-color: #fff;
  margin: 130px 0 0 -200px;
  padding: 15px 20px;
  width: 708px;
  position: relative;
  box-shadow: 0 0 25px -10px rgba(41, 41, 41, 0.5);
}
@media (max-width: 1124px) {
  .feedback .pairent .chiled .add_marg {
    width: 90% !important;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
.feedback .pairent .chiled .main h4, .feedback .pairent .chiled .main h3, .feedback .pairent .chiled .main p {
  text-transform: capitalize;
  margin: 0;
}
.feedback .pairent .chiled .main h3 {
  margin: 5px 0;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.feedback .pairent .chiled .main h3::before {
  position: absolute;
  content: "";
  border: 2px solid #fdc721;
  width: 69px;
  margin-top: 32px;
  background-color: #fdc721;
}
.feedback .pairent .chiled .main h3 span {
  color: #fdc721;
}
.feedback .pairent .chiled .main p {
  max-width: 700px;
  color: rgba(41, 41, 41, 0.5);
}
.feedback .pairent .chiled .main p span {
  color: #292929;
  font-weight: bold;
}
.feedback .pairent .chiled .main .foot_info {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedback .pairent .chiled .main .foot_info .left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.feedback .pairent .chiled .main .foot_info .left .icon i {
  font-size: 32px;
  color: #fdc721;
  line-height: 2;
}
.feedback .pairent .chiled .main .foot_info .left .info {
  padding-left: 10px;
}
.feedback .pairent .chiled .main .foot_info .left .info span {
  display: block;
  padding: 5px 0 5px 0;
  color: rgba(41, 41, 41, 0.5);
}
.feedback .pairent .chiled .main .foot_info .right {
  bottom: 20px;
  right: 10px;
}
.feedback .pairent .chiled .main .foot_info .right span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fdc721;
  background-color: transparent;
  display: inline-block;
}
.feedback .pairent .chiled .main .foot_info .right span.sty {
  background-color: #fdc721;
}
.feedback .pairent .right_back {
  background-image: url("../img/png/18.png") !important;
  background-position: center;
  background-size: cover;
  position: relative;
}
.feedback .pairent .right_back .overlay {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.features {
  padding-top: 150px;
}
.features .main_pairent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: center;
}
.features .main_pairent .top_pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}
.features .main_pairent .top_pairent .chiled:nth-of-type(2):hover {
  cursor: zoom-in;
}
.features .main_pairent .top_pairent .chiled:nth-of-type(2):hover .img {
  transform: scale(2.6);
  -webkit-transform: scale(2.6);
  -moz-transform: scale(2.6);
  -ms-transform: scale(2.6);
  -o-transform: scale(2.6);
}
.features .main_pairent .top_pairent .chiled .main_con h4, .features .main_pairent .top_pairent .chiled .main_con h3, .features .main_pairent .top_pairent .chiled .main_con p {
  text-transform: capitalize;
}
.features .main_pairent .top_pairent .chiled .main_con h4 {
  color: #fdc721;
  font-size: 18px;
}
.features .main_pairent .top_pairent .chiled .main_con h3 {
  font-size: 32px;
  color: #292929;
  margin: 10px 0;
}
.features .main_pairent .top_pairent .chiled .main_con p {
  max-width: 480px;
  color: rgba(41, 41, 41, 0.5);
}
.features .main_pairent .top_pairent .chiled .main_con .foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.features .main_pairent .top_pairent .chiled .main_con .foot .chile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.features .main_pairent .top_pairent .chiled .main_con .foot .chile i {
  color: #fdc721;
  font-size: 32px;
  background-color: rgba(204, 204, 204, 0.2);
  padding: 8px 8px;
  width: 50px;
  height: 50px;
  line-height: 1.2;
}
.features .main_pairent .top_pairent .chiled .main_con .foot .chile .info {
  padding-left: 15px;
}
.features .main_pairent .top_pairent .chiled .main_con .foot .chile .info h4 {
  font-size: 32px;
  font-weight: bold;
  color: #292929;
  padding: 0;
  margin: 0;
}
.features .main_pairent .top_pairent .chiled .main_con .foot .chile .info span {
  text-transform: capitalize;
  color: rgba(41, 41, 41, 0.5);
}
.features .main_pairent .top_pairent .chiled .main {
  height: 300px;
  width: 450px;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 10px 10px rgba(41, 41, 41, 0.7), 20px 20px 2px rgba(41, 41, 41, 0.5), 30px 30px 4px rgba(41, 41, 41, 0.2);
}
@media (max-width: 575px) {
  .features .main_pairent .top_pairent .chiled .main {
    height: 220px;
    width: 300px;
  }
}
.features .main_pairent .top_pairent .chiled .main .img {
  background-image: url("../img/gallery/2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  transition: all 2s ease-in-out;
}
.features .main_pairent .bottom_pairent {
  background-color: rgba(253, 199, 33, 0.1);
  padding: 100px 20px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 99;
  gap: 20px;
  overflow: hidden;
}
.features .main_pairent .bottom_pairent:hover .add_over1 {
  -webkit-clip-path: circle(2000px at 100% 0%);
          clip-path: circle(2000px at 100% 0%);
}
.features .main_pairent .bottom_pairent:hover .add_over2 {
  -webkit-clip-path: circle(1500px at 100% 0%);
          clip-path: circle(1500px at 100% 0%);
}
.features .main_pairent .bottom_pairent .add_over1 {
  position: absolute;
  -webkit-clip-path: circle(0px at 100% 0%);
          clip-path: circle(0px at 100% 0%);
  transition: all 1.2s ease-in-out;
  background-color: rgba(253, 199, 33, 0.1) !important;
}
.features .main_pairent .bottom_pairent .add_over2 {
  position: absolute;
  -webkit-clip-path: circle(0px at 100% 0%);
          clip-path: circle(0px at 100% 0%);
  transition: all 1.7s ease-in-out;
  background-color: rgba(253, 199, 33, 0.2) !important;
}
.features .main_pairent .bottom_pairent .left_info {
  position: relative;
}
.features .main_pairent .bottom_pairent .left_info .main {
  position: relative;
}
.features .main_pairent .bottom_pairent .left_info .main span {
  text-transform: capitalize;
  color: #fdc721;
}
.features .main_pairent .bottom_pairent .left_info .main h3 {
  text-transform: uppercase;
  font-size: 32px;
  color: #292929;
}
.features .main_pairent .bottom_pairent .left_info .main h3 span {
  color: #ccc;
  font-weight: bold;
}
.features .main_pairent .bottom_pairent .left_info .main p {
  max-width: 450px;
  color: rgba(41, 41, 41, 0.5);
  text-transform: capitalize;
}
.features .main_pairent .bottom_pairent .left_info .main button {
  width: 150px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 4px double #fdc721;
  margin-top: 15px;
}
.features .main_pairent .bottom_pairent .left_info .main button a {
  text-decoration: none;
  color: #292929;
  text-transform: uppercase;
  font-size: 14px;
}
.features .main_pairent .bottom_pairent .right_cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}
.features .main_pairent .bottom_pairent .right_cont .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main {
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  transition: all 0.4s ease-in-out;
  border-top: 5px dashed #fdc721;
  border-right: 5px dashed #fdc721;
  border-bottom: 5px dashed #fff;
  border-left: 5px dashed #fff;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main:hover {
  background-color: transparent;
  border-top: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-bottom: 5px dashed #fdc721;
  border-left: 5px dashed #fdc721;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main img {
  height: 60px;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main .right {
  padding-left: 15px;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main .right h4, .features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main .right span {
  text-transform: capitalize;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main .right h4 {
  font-weight: bold;
  color: #292929;
  font-size: 19px;
}
.features .main_pairent .bottom_pairent .right_cont .pairent .chiled .main .right span {
  max-width: 250px;
  display: block;
  color: rgba(41, 41, 41, 0.5);
}

.devition_content .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.devition_content .pairent .chiled {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgba(41, 41, 41, 0.1) !important;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in-out;
  flex-grow: 1;
}
.devition_content .pairent .chiled:hover {
  flex-grow: 2 !important;
  background-image: url("../img/gallery/6.jpg");
}
.devition_content .pairent .chiled:hover .apper {
  display: none;
}
.devition_content .pairent .chiled:hover .hidden {
  display: block !important;
}
@media (max-width: 991px) {
  .devition_content .pairent .chiled {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .devition_content .pairent .chiled {
    width: 100%;
  }
  .devition_content .pairent .chiled:hover {
    flex-grow: none;
  }
}
.devition_content .pairent .chiled .overlay {
  background-color: rgba(41, 41, 41, 0.8) !important;
}
.devition_content .pairent .chiled .main {
  text-align: center;
  position: relative;
  min-height: 500px;
}
.devition_content .pairent .chiled .main .apper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.devition_content .pairent .chiled .main .apper i {
  font-size: 32px;
  color: #fdc721;
}
.devition_content .pairent .chiled .main .apper h4 {
  text-transform: capitalize;
  color: #fff;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.devition_content .pairent .chiled .main .hidden {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.devition_content .pairent .chiled .main .hidden span {
  max-width: 400px;
  display: block;
  color: #ccc;
  line-height: 1.4;
  text-transform: capitalize;
}
.devition_content .pairent .chiled .main .hidden .link {
  margin-top: 10px;
}
.devition_content .pairent .chiled .main .hidden .link button {
  width: 130px;
  height: 35px;
  border: 4px double #fff;
  background-color: transparent;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.devition_content .pairent .chiled .main .hidden .link button:hover {
  background-color: #fdc721;
}
.devition_content .pairent .chiled .main .hidden .link button a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}
.devition_content .pairent .chiled:nth-last-of-type(2):hover {
  background-image: url("../img/gallery/1.jpg");
}
.devition_content .pairent .chiled:nth-last-of-type(3):hover {
  background-image: url("../img/gallery/5.jpg");
}
.devition_content .pairent .chiled:nth-last-of-type(4):hover {
  background-image: url("../img/gallery/7.jpg");
}

.event {
  padding: 100px 0;
}
.event .top_pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.event .top_pairent .pairent_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.event .top_pairent .pairent_left .top_head_info {
  padding: 20px;
}
.event .top_pairent .pairent_left .top_head_info h3, .event .top_pairent .pairent_left .top_head_info span {
  text-transform: capitalize;
}
.event .top_pairent .pairent_left .top_head_info h3 {
  color: #292929;
}
.event .top_pairent .pairent_left .top_head_info h3 span {
  color: #fdc721;
}
.event .top_pairent .pairent_left .top_head_info span {
  color: rgba(41, 41, 41, 0.7);
}
.event .top_pairent .pairent_left .chiled_pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.event .top_pairent .pairent_left .chiled_pairent:hover .img {
  filter: none !important;
  -webkit-filter: none !important;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_left {
  padding: 20px;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_left .img {
  background-image: url("../img/gallery/10.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 280px;
  position: relative;
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_left .img .top_left_info {
  position: absolute;
  width: 120px;
  height: 140px;
  background-color: #fdc721;
  text-align: center;
  top: 0;
  left: 0;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_left .img .top_left_info h4 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  line-height: 1;
  margin-top: 15px;
  text-transform: uppercase;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_left .tow {
  background-image: url("../img/gallery/9.jpg");
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_right {
  padding: 25px;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_right h3, .event .top_pairent .pairent_left .chiled_pairent .chiled_right p {
  max-width: 500px;
  display: block;
}
.event .top_pairent .pairent_left .chiled_pairent .chiled_right p {
  color: rgba(41, 41, 41, 0.5);
  margin-top: 7px;
}
.event .top_pairent .pairent_right {
  display: flex;
  flex-direction: column;
}
.event .top_pairent .pairent_right .pairent {
  margin-top: 50px;
}
.event .top_pairent .pairent_right .pairent::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 217px;
  margin-left: -30px;
  margin-top: 24px;
  background: #ccc;
}
.event .top_pairent .pairent_right .pairent .chiled {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
  margin: 10px 0;
}
.event .top_pairent .pairent_right .pairent .chiled i {
  font-size: 27.2px;
  color: #fdc721;
  line-height: 2;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  text-align: center;
}
.event .top_pairent .pairent_right .pairent .chiled i:hover {
  color: #fff;
  background-color: #fdc721;
  border: 1px solid transparent;
}
.event .top_pairent .pairent_right .pairent .chiled .right {
  padding-left: 15px;
}
.event .top_pairent .pairent_right .pairent .chiled .right h4, .event .top_pairent .pairent_right .pairent .chiled .right span {
  text-transform: capitalize;
  display: block;
  margin: 0;
}
.event .top_pairent .pairent_right .pairent .chiled .right h4 {
  font-size: 19px;
}
.event .top_pairent .pairent_right .pairent .chiled .right span {
  padding: 5px 0;
  color: rgba(41, 41, 41, 0.5);
}

.blog {
  padding: 30px 0;
}
.blog .pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 70px;
}
.blog .pairent .chiled .main {
  padding: 20px;
}
.blog .pairent .chiled .main h3 {
  text-transform: uppercase;
  font-weight: bold;
}
.blog .pairent .chiled .main h3 span {
  display: block;
  color: #fdc721;
}
.blog .pairent .chiled .main p {
  max-width: 500px;
  color: rgba(41, 41, 41, 0.7);
  line-height: 1.4;
  margin-bottom: 0;
}
.blog .pairent .chiled .main img {
  display: block;
  height: 70px;
}

footer {
  background-color: #292929;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}
footer .main_pairent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}
footer .main_pairent .pairent {
  padding: 0 10px;
}
footer .main_pairent .pairent h3 {
  margin: 20px 0 20px 0;
  color: #fff;
}
footer .main_pairent .pairent h3::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  margin-left: 1px;
  margin-top: 37px;
  background: #fdc721;
  border-radius: 5px;
}
footer .main_pairent .pairent .chiled .main h3, footer .main_pairent .pairent .chiled .main span {
  text-transform: capitalize;
}
footer .main_pairent .pairent .chiled .main h3 {
  font-weight: bold;
  margin: 20px 0 10px 0;
}
footer .main_pairent .pairent .chiled .main h3.custom {
  font-size: 48px;
  text-transform: uppercase;
}
footer .main_pairent .pairent .chiled .main h3.custom::before {
  display: none;
}
footer .main_pairent .pairent .chiled .main span {
  max-width: 300px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
footer .main_pairent .pairent .chiled .main form {
  padding-top: 30px;
}
footer .main_pairent .pairent .chiled .main form .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
footer .main_pairent .pairent .chiled .main form .main input {
  height: 40px;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
  border: none;
}
footer .main_pairent .pairent .chiled .main form .main label {
  color: #fff;
  text-transform: capitalize;
}
footer .main_pairent .pairent .chiled .main form input[type=submit] {
  width: 100%;
  margin-top: 15px;
  padding: 10px 10px;
  outline: none;
  border: 1px solid #fdc721;
  color: #fff;
  height: 40px;
  background-color: #fdc721;
  text-transform: uppercase;
}
footer .main_pairent .pairent .chiled .social {
  margin: 20px auto;
  text-align: center;
}
footer .main_pairent .pairent .chiled .social button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0 10px;
}
footer .main_pairent .pairent .chiled .social button i {
  font-size: 20.8px;
  color: #fff;
}
footer .main_pairent .pairent .tuch_link ul {
  padding-left: 0 !important;
}
footer .main_pairent .pairent .tuch_link ul li {
  list-style-type: none;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
footer .main_pairent .pairent .tuch_link ul li:hover {
  background-color: rgba(253, 199, 33, 0.3);
}
footer .main_pairent .pairent .tuch_link ul li:hover a {
  padding-left: 20px;
}
footer .main_pairent .pairent .tuch_link ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
footer .main_pairent .pairent .img_pairent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 5px;
}
footer .main_pairent .pairent .img_pairent .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;
  transition: all 0.4s ease-in-out;
}
footer .main_pairent .pairent .img_pairent .item .con {
  overflow: hidden !important;
  position: relative;
}
footer .main_pairent .pairent .img_pairent .item .con:hover {
  cursor: zoom-in;
}
footer .main_pairent .pairent .img_pairent .item .con:hover img {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
}
footer .main_pairent .pairent .img_pairent .item .con img {
  height: 100px;
  width: 120px;
  transition: all 0.4s ease-in-out;
  overflow: hidden !important;
}
footer .main_pairent .left span {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  display: block;
  font-size: 17px;
}
footer .main_pairent .left span a {
  color: #fdc721;
  text-decoration: none;
  display: inline-block;
}
footer .main_pairent .right ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
footer .main_pairent .right ul li {
  list-style-type: none;
}
footer .main_pairent .right ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
  font-size: 19px;
}
footer hr.hr {
  background-color: #fff;
  color: #fff;
  position: relative;
  width: 80%;
  margin-left: 10%;
  border: 1px double #fff;
  margin-top: 100px;
}

/******************
  all coy right are reserved to this design   thanks for reading  this few word 

*****************//*# sourceMappingURL=style.css.map */
