* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -os-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /*
    perspective: 400px;
*/
}
body {
  /* font-family: 'open sans, tahoma';*/
  font-family: "Sigmar One", cursive;
  font-family: "Marmelad", sans-serif;
}
body button {
  outline: none !important;
  text-transform: capitalize !important;
}

/*start fram work to this site*/

/*start site elements color*/
$main-color: #252a34;
$second-color: #08d9d6;
$p-color: #ddd;
$h-color: #fff;
$main-font: 16px;
/*end site elements color*/

%main-div {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
%over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6) !important;
}
%button {
  margin: 20px auto;
  border: 1px solid $h-color;
  width: 120px;
  padding: 8px;
  background-color: transparent;
  color: $h-color;
  outline: none;
  cursor: pointer;

  %h-style {
    text-transform: uppercase;
    padding-bottom: 20px !important;
  }
  %h-before {
    content: "";
    position: absolute;
    height: 54px;
    border: 3px solid #08d9d6;
    left: 0px;
    top: 6px;
  }
  &:hover {
    background-color: $second-color;
    border-color: $second-color;
  }
}

@mixin transition($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin border-R($b) {
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
  -ms-border-radius: $b;
  -o-border-radius: $b;
  border-radius: $b;
}

/*this is mixin for keyframs*/
/*


/*end fram work to this site*/
/*this style for ffbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $second-color;
  border: none;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $second-color;
  @include transition(1s);
}

/*this clas will be added to navbar after scrolling  to top */

.active-li {
  color: $p-color !important;
}

/*adding style to navbar after scroll*/
.scroll {
  /*   border-bottom: 1px solid $p-color;
*/
  box-shadow: 0 0 25px -10px #000;
  -webkit-box-shadow: 0 0 25px -10px #000;
  -moz-box-shadow: 0 0 25px -10px #000;
  background-color: $main-color;

  /*start navbar style*/
}
nav {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  z-index: 9999;
  text-transform: capitalize;
  @include transition(0.4s);

  a {
    color: $h-color;

    &:focus {
      color: red !important;
    }
  }
  ul {
    direction: ltr !important;
    width: 100%;
    float: right !important;
    /*start media for min screen size 991px */
    @media (min-width: 991px) {
      margin-left: 35% !important;
      justify-content: space-around;
    }
    /*end media for min screen size 991px */

    li {
      margin: 0 0.8%;
      float: right;
      @media (max-width: 991px) {
        margin-top: 10px;
      }

      a {
        font-size: $main-font + 3px;
        color: $h-color;
      }
    }
  }
}
.navbar .content-icon {
  height: 40px;
  @include transition(0.7s);
  @media (min-width: 992px) {
  }
  img {
    width: 93px;
    height: 42px;
    background-size: cover;
  }
  i {
    color: $h-color;
    font-size: $main-font + 10px;
  }
}
.navbar .nav-item .nav-link {
  border-bottom: 2px solid transparent;
  color: $h-color;
  @include transition(0.3s);
  &:active,
  &:focus {
    color: $second-color !important;
    border-bottom: 2px solid $second-color;
  }
  @media (max-width: 991px) {
    &:active,
    &:focus {
      border-bottom: none;
    }
  }
}
.navbar .nav-item .nav-link:hover {
  color: #999;

  @media (max-width: 991px) {
    border-color: transparent;

    /* background-color: $second-color;*/
    outline: none;
  }
}

.navbar button {
  cursor: pointer;
}
.navbar-toggler.navbar-toggler-right {
  background-color: $h-color;
}
/*end navbar style*/

/*start header slement style*/
header {
  @extend %main-div;
  background-image: url("../img/12.jpg");
  background-attachment: fixed;
  min-height: 600px;
  overflow: hidden;
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.6) !important;
  }
  .container {
    .row {
      .col-sm-12 {
        .content {
          position: relative;
          h1 {
            font-weight: bold;
            text-transform: capitalize;
            font-size: $main-font + 20px;
            color: $h-color;
            padding-top: 170px;
            display: inline-block;
            line-height: 1.2;
            margin-bottom: 10px;
            span {
              color: $second-color;
              display: inline-block;
              margin: 0 10px 0 10px;
            }
          }
          span {
            display: block;
            color: $p-color;
            text-transform: capitalize;
          }
          button {
            @extend %button;
            @include transition(0.3s);
            i {
              @include transition(0.3s);
            }
            &:hover {
              i {
                opacity: 0;
              }
            }
          }
        }
      }
      .col-sm-12 {
        .main {
          background-image: url(../img/mouckup.png);
          background-size: cover;
          position: relative;
          width: 298px;
          height: 252px;
          margin-left: 15px;
          overflow: hidden;
          margin: 0 auto;
          margin-top: 170px;

          .screen {
            width: 273px;
            margin-left: 12px;
            margin-top: 27px;

            height: 152px;
            margin-left: 12px;
            margin-top: 28px;
            position: absolute;
            overflow: hidden;
            &:hover .img {
              top: -1175px !important;
            }
            .img {
              background-image: url(../img/header-mouckup.png);
              background-repeat: no-repeat;
              background-size: contain;
              @include transition(7s);
              position: absolute;
              top: 0;
              left: 0;
              width: 279px;
              height: 2018px;
              overflow: hidden;
            }
          }
        }
      }
      button.Down-arrow {
        width: 35px;
        height: 75px;
        @include border-R(20px);
        border: 2px solid $second-color;
        margin-top: 50px;
        margin-left: calc(50% - 17.5px);
        display: block;
        cursor: pointer;
        background-color: transparent !important;
        position: relative;
        @media (max-width: 767px) {
          margin-bottom: 40px !important;
        }

        i {
          line-height: 30px;
          font-size: $main-font + 10px;
          color: $second-color;
          -webkit-animation: 1.4s Down infinite;
          -moz-animation: 1.4s Down infinite;
          -ms-animation: 1.4s Down infinite;
          -o-animation: 1.4s Down infinite;
          animation: 1.4s Down infinite;
          display: inline-block;
          position: relative;
        }
        @-webkit-keyframes Down {
          0% {
            opacity: 0.2;
            top: 0;
            text-shadow: none;
          }
          30% {
            opacity: 0.5;
            top: -10px;
            text-shadow: 0 5px 0 $second-color;
          }
          70% {
            opacity: 0.8;
            top: -12px;
            text-shadow: 0 -10px 0 $second-color;
          }
          100% {
            opacity: 1;
            bottom: -10px;
            text-shadow: 0 -2px 0 $second-color;
          }
        }

        @-moz-keyframes Down {
          0% {
            opacity: 0.2;
            top: 0;
            text-shadow: none;
          }
          30% {
            opacity: 0.5;
            top: -10px;
            text-shadow: 0 5px 0 $second-color;
          }
          70% {
            opacity: 0.8;
            top: -12px;
            text-shadow: 0 -10px 0 $second-color;
          }
          100% {
            opacity: 1;
            bottom: -10px;
            text-shadow: 0 -2px 0 $second-color;
          }
        }

        @-o-keyframes Down {
          0% {
            opacity: 0.2;
            top: 0;
            text-shadow: none;
          }
          30% {
            opacity: 0.5;
            top: -10px;
            text-shadow: 0 5px 0 $second-color;
          }
          70% {
            opacity: 0.8;
            top: -12px;
            text-shadow: 0 -10px 0 $second-color;
          }
          100% {
            opacity: 1;
            bottom: -10px;
            text-shadow: 0 -2px 0 $second-color;
          }
        }

        @keyframes Down {
          0% {
            opacity: 0.2;
            top: 0;
            text-shadow: none;
          }
          30% {
            opacity: 0.5;
            top: -10px;
            text-shadow: 0 5px 0 $second-color;
          }
          70% {
            opacity: 0.8;
            top: -12px;
            text-shadow: 0 -10px 0 $second-color;
          }
          100% {
            opacity: 1;
            bottom: -10px;
            text-shadow: 0 -2px 0 $second-color;
          }
        }
      }
    }
  }
}

/*start about div elements*/
.about {
  overflow: hidden;
  @extend %main-div;
  margin-top: -20px;
  background-image: url(../img/about-.jpg);
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.9) !important;
  }
  .container {
    h3.head {
      position: relative;
      color: $h-color;
      text-transform: capitalize;
      text-align: left;
      padding: 50px 0 70px 0;
      &:after {
        content: "";
        position: absolute;
        top: 85px;
        border: 2px solid #08d9d6;
        width: 43px;
        left: 0;
        @include border-R(20px);
      }
    }
    .row {
      .col-sm-5 {
        .mouckup {
          background-image: url(../img/mouckup2.png);
          background-size: cover;
          position: relative;
          width: 200px;
          height: 243px;
          margin: 50px auto;
          .photo {
            position: absolute;
            width: 88px;
            height: 154px;
            margin-left: 79px;
            margin-top: 29px;
            background-image: url(../img/about.png);
            background-size: contain;
          }
        }
      }
      .col-sm-7 {
        h3.style {
          color: $h-color;
          text-transform: uppercase;
          padding-bottom: 20px !important;
          @media (max-width: 575px) {
            margin-left: 20px !important;
          }

          span {
            color: $second-color;
          }
          &:before {
            content: "";
            position: absolute;
            height: 54px;
            border: 3px solid #08d9d6;
            left: 0px;
            top: 6px;
            @include border-R(20px);

            @media (max-width: 575px) {
              left: 20px !important;
            }
          }
        }
        span {
          text-transform: capitalize;
          color: $p-color;
          display: block;
        }
        button {
          display: inline-block;
          margin-top: 15px;
          @extend %button;
        }
        button:first-of-type {
          background-color: $second-color !important;
          border-color: $second-color;
        }
        button:second-of-type {
        }
      }
    }
  }
}
/*start features div element style*/
.features {
  @extend %main-div;
  background-image: url(../img/3.jpeg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  overflow: hidden;

  .over {
    @extend %over;
    background-color: rgba($main-color, 0.7) !important;
  }
  .container {
    h3 {
      position: relative;
      color: $second-color;
      text-transform: capitalize;
      text-align: left;
      padding: 50px 0 100px 0;
      &:before {
        content: "";
        position: absolute;
        top: 85px;
        border: 2px solid #08d9d6;
        width: 43px;
        left: 0;
        @include border-R(20px);
      }
    }
    .row {
      .col-sm-6 {
        margin-bottom: 30px;
        h4 {
          color: $h-color;
          text-transform: capitalize;
        }
        p {
          text-transform: capitalize;
          color: $p-color;
          font-size: $main-font - 2px;
        }
        button {
          @extend %button;
          font-size: $main-font - 5px;
          position: relative;
          cursor: pointer;
          width: 100px;
          @include transition(0.3s);
        }
        &:before {
          content: "1";
          position: absolute;
          font-size: 120px;
          top: -16px;
          left: 56px;
          opacity: 0.5;
          color: $second-color;
        }
      }
      .col-sm-6:nth-of-type(2):before {
        content: "2" !important;
      }
      .col-sm-6:nth-of-type(3):before {
        content: "3" !important;
      }
      .col-sm-6:nth-of-type(4):before {
        content: "4" !important;
      }
    }
  }
}
/*start some-info div elements */
.Subscribe {
  @extend %main-div;
  overflow: hidden;
  background-image: url(../img/2.jpeg);
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.8) !important;
  }
  .container {
    h3.head {
      position: relative;
      color: $second-color;
      text-transform: capitalize;
      text-align: left;
      padding: 50px 0 100px 0;
      &:before {
        content: "";
        position: absolute;
        top: 85px;
        border: 2px solid #08d9d6;
        width: 43px;
        left: 0;
        @include border-R(20px);
      }
    }

    .row {
      .col-sm-12 {
        h3 {
          text-transform: uppercase;
          text-align: left;
          padding: 20px 0 10px 0;
          color: $h-color;
        }
        .main {
          max-width: 380px;
          button {
            width: 50px;
            height: 50px;
            border: 1px solid $second-color;
            float: right;
            display: inline-block;
            background-color: transparent;
            margin-top: 20px;
            @include transition(0.4s);
            &:hover {
              transform: scale(1.1);
              width: 60px;
              height: 60px;
              transform: rotate(120deg);
              opacity: 0.1;
              i {
                font-size: $main-font + 4px;
                transform: rotate(-120deg);
              }
            }
            i {
              line-height: 25px;
              color: $second-color;
              @include transition(0.4s);
            }
          }
          .content {
            padding-bottom: 40px;
            width: calc(100% - 70px);
            text-align: right;
            display: inline-block;
            @media (max-width: 767px) {
              text-align: left !important;
            }
            h4 {
              color: $second-color;
            }
            span {
              display: block;
              color: $p-color;
              font-size: $main-font - 1px;
            }
          }
        }
      }
      .col-sm-12 {
        .main-content {
          background-color: transparent;
          border-bottom-left-radius: 10%;
          border-top-right-radius: 10%;
          box-shadow: 0 0 25px -2px #000;
          -webkit-box-shadow: 0 0 25px -2px #000;
          -moz-box-shadow: 0 0 25px -2px #000;
          @include transition(0.5s);
          /*  &:hover{
                box-shadow:none !important;
               }*/

          form {
            width: 300px;
            margin-top: 100px;

            margin: 0 auto;
            span {
              text-transform: capitalize;
              display: block;
              text-align: left;
              color: $h-color;
              padding-top: 25px;
              font-size: $main-font - 2px;
            }
            input {
              border: none;
              border-bottom: 2px solid #545454;
              height: 15px;
              background-color: transparent;
              outline: none;
              width: 100%;
              color: $p-color;
              font-size: $main-font - 2px;
              &:focus {
                span {
                  opacity: 0.5;
                }
              }
            }
            input[type="text"] {
            }
            input[type="password"] {
            }

            textarea {
              border: none;
              border-bottom: 2px solid #545454;
              min-height: 150px;
              max-height: 250px;

              background-color: transparent;
              outline: none;
              color: $p-color;
              font-size: $main-font - 2px;
              width: 100%;
              margin-bottom: 20px;
            }
          }
          button.send {
            @extend %button;
            height: auto;
            border: 3px solid $second-color;
            text-transform: uppercase !important;
            width: 130px;
            float: right;
          }
        }
      }
    }
  }
}
/*start other-info div elements style*/
.other-info {
  @extend %main-div;
  background-image: url(../img/1.jpeg);
  overflow: hidden;
  .over {
    @extend %over;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    width: 70%;
    background-color: rgba($second-color, 0.9) !important;
    @media (max-width: 767px) {
      width: 100%;
      -webkit-clip-path: none;
      clip-path: none;
    }
  }
  .container {
    .row {
      .col-sm-12 {
        h3 {
          padding: 50px 0 30px 0;
          text-align: left;
          color: $h-color;
          text-transform: capitalize;
          &:before {
            content: "";
            position: absolute;
            top: 85px;
            border: 2px solid $h-color;
            width: 43px;
            @include border-R(20px);
          }
        }

        h4 {
          color: $p-color;
          text-transform: capitalize;
          font-size: $main-font;
        }
        a {
          margin-top: -4px;
          display: block;
          width: 77px;
        }
        span {
          margin-top: 30px;
          margin-bottom: 50px;

          width: 40px;
          height: 40px;
          margin-left: -16px;
          @include border-R(50%);
          border: 1px solid $main-color;
          display: inline-block;
        }
        span:first-of-type {
          margin-left: 0 !important;
        }
      }
    }
  }
}
/*start service div elements style*/
.service {
  @extend %main-div;
  overflow: hidden;
  background-image: url(../img/3.jpeg);
  background-attachment: fixed;
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.7);
  }
  .container {
    h3 {
      padding: 50px 0 50px 0;
      text-align: left;
      position: relative;
      color: $second-color;
      text-transform: capitalize;
      &:before {
        content: "";
        position: absolute;
        top: 85px;
        border: 2px solid $h-color;
        width: 43px;
        @include border-R(20px);
      }
    }

    .row {
      padding-bottom: 50px !important;
      .col-sm-6 {
        margin-top: 50px;
        .main {
          width: 90%;
          overflow: hidden;
          margin: auto;
          min-height: 300px;
          background-color: transparent;
          box-shadow: 0 0 25px -10px #222;
          // -webkit-box-shadow: 0 0 25px -2px #000;
          // -moz-box-shadow: 0 0 25px -2px #000;
          @include transition(0.5s);
          position: relative !important;
          text-align: center;
          &:hover {
            .over {
              top: 0 !important;
            }
          }
          .over {
            @extend %over;
            position: absolute;
            top: 100% !important;
            overflow: hidden;
            width: 100%;
            background-color: rgba($main-color, 0.8) !important;
            @include transition(0.5s);
          }
          i {
            font-size: $main-font + 10px;
            color: $second-color;
            font-weight: bold;
            padding: 25px 0 15px 0;
            position: relative !important;
          }
          h4 {
            text-transform: capitalize;
            color: $h-color;
            position: relative !important;
          }
          span {
            font-size: $main-font - 2px;
            display: block;
            color: $p-color;
            padding: 10px 0 20px 0;
            position: relative !important;
          }
        }
        .main.border {
          border-top-right-radius: 50px;
          border: none !important;
        }
        .main.Border {
          border-top-left-radius: 50px;
          border: none !important;
        }
      }
    }
  }
}
/*start pricing div elements style*/
.pricing {
  @extend %main-div;
  overflow: hidden;
  .container {
    h3 {
      text-align: center;
      text-transform: capitalize;
      padding: 50px 0 30px 0;
      display: inline-block;
      color: $second-color;
    }
    .row {
      padding-bottom: 50px;
      .col-sm-6 {
        padding-top: 50px;
        .main-contents {
          width: 95% !important;
          margin: 0 auto;
          @include transition(0.3s);
          &:hover {
            button.end {
              background-color: $second-color;
              color: $main-color;
            }
          }
          span.head {
            padding: 20px 0 30px 0;
            display: inline-block;
          }
          span.price {
            sup {
              color: red;
              top: -15px;
              right: 5px;
            }
            color: #999;
            display: block;
            span {
              font-size: $main-font + 20px;
              color: $second-color;
              display: inline-block;
              padding-right: 5px;
            }
          }

          .other-content {
            span {
              display: block;
              margin-top: 10px;
            }
          }
          button.end {
            @extend %button;
            @include border-R(15px);
            color: $second-color;
            border: 1px solid $second-color;
            outline: none;
            @include transition(0.3s);
            &:hover {
              color: $main-color;
            }
          }
        }
      }
      .col-sm-6:nth-of-type(2) .main-contents {
        box-shadow: 0 0 30px -1px #ddd;
        -webkit-box-shadow: 0 0 30px -1px #ddd;
        -moz-box-shadow: 0 0 30px -1px #ddd;
        width: 95% !important;
      }
      .col-sm-6:nth-of-type(1):hover .main-contents,
      .col-sm-6:nth-of-type(3):hover .main-contents {
        box-shadow: 0 0 30px -1px #ddd;
        -webkit-box-shadow: 0 0 30px -1px #ddd;
        -moz-box-shadow: 0 0 30px -1px #ddd;
      }

      .col-sm-6:nth-of-type(2) button.end {
        background-color: $second-color;
        color: $main-color;
      }
    }
  }
}

/*start map div elements style*/

/*start footer div elements style */
footer {
  overflow: hidden;
  @extend %main-div;
  min-height: 500px;
  background-image: url(../img/1.jpeg);
  background-attachment: fixed;
  .over {
    @extend %over;
    background-color: rgba($main-color, 0.8) !important;
  }
  .container {
    h3 {
      padding: 50px 0 10px 0;
      text-align: center;
      position: relative;
      color: $second-color;
      text-transform: capitalize;
      &:before {
        content: "";
        position: absolute;
        top: 85px;
        border: 2px solid $h-color;
        width: 43px;
        @include border-R(20px);
      }
    }
    .row {
      padding-top: 30px;
      padding-bottom: 50px;
      .col-sm-6 {
        p {
          padding: 40px 0 30px 0;
          color: $p-color;
          font-size: $main-font - 2px;
          text-align: left;
          width: 95%;
          margin: 0 auto;
          text-transform: capitalize;
          a {
            display: inline-block;
            font-size: $main-font - 4px;
            padding-left: 5px;
          }
        }
      }
      .col-sm-6 {
        padding-top: 50px;
        h4 {
          padding: 20px 0 10px 0;
          color: $h-color;
          text-transform: capitalize;
        }
        ol {
          li {
            display: block;
            a {
            }
          }
        }
      }
      .col-sm-6 {
        h4 {
          padding: 20px 0 10px 0;
          text-transform: capitalize;
        }
        button.home {
          @extend %button;
          margin: 10px 0 10px 0;
        }
        span {
          display: block;
          text-align: left;
          padding: 0 0 15px 0;
          color: $p-color;
          text-transform: capitalize;
          font-size: $main-font - 2px;
        }
        button {
          background-color: transparent;
          outline: none;
          border: none;
          margin: 0 15px;
          @include transition(0.3s);
          a {
            i {
              color: $main-color;
              font-size: $main-font + 10px;
              text-align: center !important;
            }
          }
        }

        button.one i {
          color: #365899 !important;
          margin-left: 0 !important;
          position: relative !important;
        }
        button.tow i {
          color: #333 !important;
        }
        button.three i {
          color: #00a0dc !important;
        }
      }
    }
  }
}
/*start copy-right div elements style*/
.copy-right {
  overflow: hidden;
  min-height: 40px;
  background-color: $main-color;

  .container {
    .row {
      .col-sm-6 {
        span {
          color: $second-color;
          text-transform: capitalize;
          margin: auto;
          margin-top: 7px;
          display: block;
        }
      }
    }
  }
}
/******************
  all coy right are reserved to this design   thanks for reading  this few word 

*****************/
