* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -os-box-sizing: border-box;
  box-sizing: border-box; 
  padding: 0px;
  margin: 0px;
 
} 
body {
  font-family: 'Roboto Condensed', sans-serif;
}
 body button {
   outline: none !important;
   text-transform: capitalize !important;
 }
  
/*start fram work to this site*/
   
/*start site elements color*/
$main-color: #fdc721;
$second-color: #292929;
$h-color: #fff;
$p-color: #ccc;
$main-font: 16px;
/*end site elements color*/

%main-div {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
%over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.6) !important;
}
%button {
  margin: 20px auto;
  border: 1px solid $h-color;
  width: 120px;
  padding: 8px;
  background-color: transparent;
  color: $h-color;
  outline: none;
  cursor: pointer;

}
%h_style {
  text-transform: uppercase;
  text-align: center;
  

}



@mixin transition($t) {
  -webkit-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin border-R($b) {
  -webkit-border-radius: $b;
  -moz-border-radius: $b;
  -ms-border-radius: $b;
  -o-border-radius: $b;
  border-radius: $b;
}

/*this is mixin for keyframs*/
/*this style for right scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $second-color;
  border: none;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: $main-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $second-color;
  @include transition(1s);
}

/*this class will be added to navbar after scrolling  to top */

.active-li {
  color: $p-color !important;
}

/*adding style to navbar after scroll*/

.navbar{
  position: fixed; 
  width: 100%;
  z-index: 99999;
  padding: 15px 0;
 background-color: transparent  ;
  @include transition(.4s);
  @media(max-width:991px){
 background-color: rgba($main-color, .9) ;
  }

  

  .container-fluid{
    button{
      span{

      }
    }
    img.navbar-brand{
      padding: 5px 10px !important;
      text-transform: capitalize;
      height: 50px ;
      
      @media(min-width:992px){
        margin-left: 60px; 
        height: 60px !important ; 
      }
     
    } 
    .navbar-toggler{
      padding: 0 ;
      margin: 0 10px;
    }
    .navbar-toggler:focus{
      box-shadow: none !important;
   
    }
    .navbar-toggler-icon{
    
    i{
      font-size: $main-font + 15px;
    }
    }
    .collapse{
      @media(min-width:992px){
        justify-content: flex-end !important;
      }
      .navbar-nav{
        margin-right: 100px !important;
        @media (min-width: 992px){
          gap: 19px !important;
        }
       a{
          font-size: $main-font + 4px;
      padding: 5px 10px !important;
       color: $h-color;
      text-transform: capitalize;
       }
      }
    }
  }
}
.scroll {
  /*   border-bottom: 1px solid $p-color;
*/
  box-shadow: 0 0 25px -10px #000;
  -webkit-box-shadow: 0 0 25px -10px #000;
  -moz-box-shadow: 0 0 25px -10px #000;
  background-color: $main-color !important;
  

  /*end navbar style*/
}
header{
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  @media(max-width:1255px){
    height: 1100px;
  }
  @media(max-width:1050px){
       height: 1350px;
  }
  video{
    min-height: 100%;
    min-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  
   

  }
  .overlay{
    @extend %over;
    background-color: rgba($second-color, .9) !important;
  }

  //start landing contents
  .main_content{
    
    position: absolute !important;
    width: 100%;
    top: 100px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top_main{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    
    .top_content_info{
      padding: 70px 20px 50px 100px;
      @media(max-width:767px){
        padding: 70px 20px 50px 20px;
      }
      h3, h1, span{
        font-style: normal;
        text-transform: capitalize;
        margin: 5px 0;
        
      }
      h3{
        color: $h-color;
        letter-spacing: 1px;


      }
      h1{
        color: $main-color;
        font-size: $main-font * 4;
        font-weight: bold;
        text-transform: uppercase;

      }
      span{
        color: $p-color;
        letter-spacing: 1px;
        display: block;
        max-width: 570px;

      }
      @media(max-width:767px){
        h1{
          font-size: $main-font * 3;
        }
        span{
          max-width: 350px;
        }
      }
      button{
        width: 140px;
        height: 38px;
        border: 2px solid $main-color;
        background-color: transparent;
        outline: none;
       
        @include transition(.3s);

        
        a{
          padding: 7px ;
          text-decoration: none;
          color: $h-color;
          text-transform: uppercase;
          font-size: $main-font - 5px;
          letter-spacing: 1px;


        }
      }
      
      button.style{
        background-color: $main-color;
      }
      button.transpa{
        margin: 20px 20px;
        border: 2px dotted $main-color;
        
        &:hover{
          background-color: $main-color;
        }

      }
     
    }
    img{
      height: 400px;
      @media(max-width:767px){
        height: 320px;
      }
    }
  }
    .bottom_content_info{
      position: absolute;
      bottom: 10px;
      .pairent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 50px;
        @media(max-width:1025px){
          flex-direction: column;
          align-items: center;
          align-content: space-around;
          gap: 20px;
        }
        // padding-left: 0;
        .chiled{
          display: flex;
          padding: 15px;
          flex-direction: column;
          background-color: rgba($main-color, .9);
       
          .head{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            i{
              color: $second-color;
              font-size: $main-font * 2.2;
            }
            h3{
              font-size: $main-font;
              color: $h-color;
              padding-left: 10px;
              // display: block;

            }
          }
          .foot{
            padding-top: 10px;
            
            span{
              max-width: 300px;
              font-size: $main-font - 3px;
              color: $second-color;
              display: block;
             
              span{
                display: inline-block !important;
                color: $h-color;
                padding-left: 7px;

              }
            }
          }
        }
        .chiled.style{
          background-color: $second-color;;
          h3{
            color: $h-color;
            
           
          }
          i{
            color: $main-color;

          }
          span{
            color: $p-color;
            span{
              color: $main-color;
            }
          }
        }
        .chiled:nth-of-type(1){
          // cursor: url('../img/icon_png/4.png'), auto;
        }
      }
    }
  }
}
 
// }

//start about block elements style
.about{  
  padding: 200px 0 50px 0;
  .container{
    .columan_flex{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    align-items:center;
      .pairent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
   
        
        .chiled{
          // overflow: hidden;
          span, h3, p{
            text-transform: capitalize;

          }
          span{
            color: $main-color;
            display: block;
          }
          h3{
            margin: 7px 0;
            color: $second-color;

          }
          p{
            max-width: 460px;
            color: $p-color;
            margin: 0;


          }
          img.sighnut{
            height: 90px;
            margin-top: 0;
          }
        }
        .frame{
        
        }
        img.right{
          height: 300px;
          // margin: 10px auto;
               @media(max-width:767px){
          height: 270px;
        }
        }
      }
      //start second pairent
      .pairent_features{ 
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        @media(max-width:991px){
          justify-content: center;
           }
        .chiled{
       
          
          .main{
            padding:50px 50px;
            position: relative !important;
            box-shadow: 0 0 20px rgba(33,33,33,.1); 
            text-align: center; 
            overflow: hidden;
            min-width: 260px; 
            min-height: 230px;
                         
               
            &:hover{
              .style_over{
                 clip-path: circle(400px at 0% 0%);
              }
                 
              button{
                position: relative;
                background-color: transparent;
                border: 1px solid rgba($h-color, .8);
                z-index: 9;
              
             
                i{
                  color: $h-color;
                 
                }
              }
              h4{
                color: $h-color;
                position: relative;
                z-index: 9;
              }
              span{
                color: $h-color;
                position: relative;
                z-index: 9;
              }
            }//end of hover 
            
            button{
              width: 50px;
              height: 50px;
              background-color: transparent;
              @include border-R(50%);
              @include transition(.6s);
              border: 1px solid rgba($p-color, .4);
         
        
              i{
                color: $main-color;
                font-size: $main-font + 2px;
                z-index: 999;
                @include transition(.6s);
              

              }
            }
            h4{
              font-size: $main-font;
              color: $p-color;
              text-transform: capitalize;
              margin:10px 0 0 0;
              @include transition(.6s);
              

            }
            span{
              font-size: $main-font + 3px;
              font-weight: bold;
              color: $second-color;
              @include transition(.6s);

            }
            .style_over{
              @extend %over;
              clip-path: circle(0px at 0% 0%);
              @include transition(.6s);
               background-color: rgba($main-color, 1) !important;
              // img{
              //   height: 100%;
              //   width: 100%;
              // }
            }
            .__one{
              clip-path: circle(0px at 100% 0%);
            }
            .__tow{
              clip-path: circle(0px at 0% 100%);
            }
            .__three{
              clip-path: circle(0px at 100% 100%);
            }
          }
        }
        .style{
          .main{
            margin-top: 100px;
            @media(max-width:991px){
              margin-top: 0;
              }
          }
        }
      }
    }
  }
}

 //start we_diferrent block elements style
 .we_diferrent{
   padding: 70px 0 40px 0;
   .container{
     .pairent{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-around;
       gap: 25px;
      

       .chiled{
         .main{
          //  min-height: 470px;
           p{
             max-width: 500px;
             margin: 0;
             text-transform: capitalize;
             font-size: $main-font + 3px;
             color: rgba($second-color, .9);
  
           }
           span{
             display: block;
             color: $main-color;

           }
           button{
             width: 150px;
             height: 50px;
             background-color: transparent;
             outline: none;
             border: 4px double $main-color;
             margin-top: 15px;
               
             

             a{
               text-decoration: none;
               color: $main-color;
               text-transform: uppercase;
               font-size: $main-font - 2px;    
 
             }
           }
         }
         .main_shap{
           padding: 50px;
          
            background-image: url('../img/gallery/4.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            overflow: hidden;
            img{
              padding:0px;
            }
      
        
         }
       }
     }
   }
 }


 //start clients_say block elemets style
 .clients_say{
  min-width: 100%;
   .pairent{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     min-width: 100%;
     .chiled{
      background-image: url('../img/gallery/1.jpg');
      background-position: center;
      background-size: cover;
      width: 50%;
      position: relative;
      @media(max-width:991px){
        width: 100%;
       }
       .overlay{ 
         @extend %over;
         background-color: rgba($second-color, .9) !important;
        }
         .main{
           padding: 50px 10px;
           h3{
             position: relative;
             text-transform: uppercase;
             color: $main-color;
             font-weight: bold;

           }
           p{
             max-width: 500px;
             position: relative;
             color: $p-color;
             text-transform: capitalize;

           }
           .clip_path{
            span{
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

              width: 100px;
              height: 90px;
              display: inline-block;
              background-color: $main-color;
              // border: 2px solid red;
              
            }
            span.style{
              margin: 10px -40px 0 -40px;
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);

            }
           }
           span.head{
            position: relative;
            color: rgba($h-color, .8);
            font-size: $main-font + 2;

           }
           h3.sup_head{
            position: relative;
            font-size: $main-font + 4px;
            margin:8px 0 15px 0;
            color: $h-color;

           }
           .counter{
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             justify-content: center;
             gap: 15px;
             .item{
               border: 4px dotted $h-color;
               border-bottom-right-radius: 15px;
               padding: 20px;
               position: relative;
               text-align: center;
              h2{
                position: relative;
                color: $h-color;

              }
              h3{
                position: relative;
                color: rgba($h-color, .6);

              }
             }
           }
         }
         .left{//for only left block
          padding: 50px 40px
         }
     
     }
     //display other image for the  second  chiled
     .display_image{
     background-image: url('../img/gallery/2.jpg');
     background-position: center;
     background-size: cover;
     text-align: center;
     .overlay{
       @extend %over;
       background-color: rgba($main-color, .9) !important;
     }
    //  padding-left: 10px;
    .counter{
      padding-bottom: 60px;
    }
     }
   }
 }

// start expertes block elements style
.expertes{
  position: relative;
  background-image: url('../img/gallery/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  min-height: 500px;
  animation: change 15s linear 8s infinite alternate;
  -webkit-animation: change 15s linear 8s infinite alternate;
      @keyframes change 
{

    25% {
      background-image: url('../img/gallery/1.jpg');
      background-position: top;
      
      }
      50% {
        background-image: url('../img/gallery/6.jpg');
        background-position: right;
      
      }
      75% {
        background-image: url('../img/gallery/7.jpg');
        background-position: bottom;
      }
     100% {
        background-image: url('../img/gallery/2.jpg');
        background-position: left;
      }
    
  }
  .overlay{
    @extend %over;
    background-color: rgba($main-color, .9) !important;
  }
  .container{
    position: relative;
    text-align: center;
    h3, p{
      text-transform: capitalize;
    }
    h3{
      padding: 70px 0 0 0;
      color: $second-color;
      span{
        color: $h-color;
      }
    }
    p{
      margin: 10px auto;
      color: rgba($h-color, .8);
      max-width: 900px;
      text-align: center;

    }
    .flexed_item{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;
      .item{
        img{
          height:200px;

        }
      }
    }
    //start bottom_block elements style
    .bottom_block{
      padding: 70px 0  50px 0;
     
      .all_control{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        place-items: flex-end;
        .grow{//for give left content pige space 
          
          flex-grow: 2;
        }//end grow 
      .main{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-items: center;
        align-content: center;
     .pairent{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .heading{

           
            h3.head{
              margin: 20px 0 10px 0;
              text-align: center;


              span{
      
              }
            }
            img.style{
              height: 40px;
      
            }
          }
     
          .chiled{
            // display: flex;
            padding: 25px;
            .main_con{
              // background-color: $p-color;
              i{
                padding: 20px 0;
                font-size: $main-font * 2;
                color: $h-color;

              }
              h4, span{
                text-transform: capitalize;
                padding: 5x;
              }
              h4{
                color: $h-color;

              }
              span{
                color: rgba($h-color, .6);
                display: block;
                max-width: 325px;

              }
            }
          }
        }
        //image for the second columan
        img.person{
          height: 320px;
          margin-top: 70px;
          @media(max-width:1199px){
height: 400px;
          }
         
       }
    
      }
    }
  }
}

}


//start feedback block elements style
.feedback{
  min-width: 100%;
  &:hover{
    .chil_1{
      .overlay{
        left: 0 !important;
      }
    }
  }
 
  .pairent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 500px;
    @media(max-width:1124px){
      flex-direction: column;
    justify-content: center;
    overflow: hidden;
    }
    .chil_1{
      position: relative;
      .overlay{
        @extend %over;
        background-color: rgba($second-color, .7) !important;
        @include transition(.7s);
        left:100% ;
      }
    }
    .chiled{
      background-image: url('../img/gallery/7.jpg') !important;
      background-position: center;
      background-size: cover;
      width: 50% !important;
      // overflow: hidden;
      @media(max-width:1124px){
        width: 100% !important;
      min-height: 400px;
      }
      
      .add_marg{
        
        background-color: $h-color;
        margin: 130px 0 0 -200px;
        padding: 15px 20px;
         width: 708px;
        position: relative;
        box-shadow: 0 0 25px -10px rgba($second-color, .5);
        @media(max-width:1124px){
         width: 90% !important;
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         transform:translate(-50%, -50%);
       
         -moz-transform:translate(-50%, -50%);
         -ms-transform:translate(-50%, -50%);
         -o-transform:translate(-50%, -50%);
         -webkit-transform:translate(-50%, -50%);
     }
       
      }
      .main{
       
       
        h4, h3, p{
          text-transform: capitalize;
          margin: 0;

        }
        h4{

        }
        h3{
          margin: 5px 0;
          text-transform: uppercase;
          margin-bottom: 13px;
          &::before{
            position: absolute;
            content: '';
            border: 2px solid $main-color;
            width: 69px;
            margin-top: 32px;
            background-color: $main-color;
          }
          span{
            color: $main-color;
          }
        }
        p{
          max-width: 700px;
          color: rgba($second-color, .5);
          span{
            color: $second-color;
            font-weight: bold;
          }
        }
        .foot_info{
          padding: 10px 0;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          .left{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            .icon{
             
              i{
                font-size: $main-font * 2;
                color: $main-color;
                line-height: 2;
              }
            }
            .info{
              padding-left: 10px;
              h4{

              }
              span{
                display: block;
                padding: 5px 0 5px 0;
                color: rgba($second-color, .5);

              }
            }
          }
          .right{
            // position: absolute;
            bottom: 20px;
            right: 10px;
          
            span{
              width: 12px;
              height: 12px;
              @include border-R(50%);
              border: 2px solid $main-color;
              background-color: transparent;
              display: inline-block;
            }
            span.sty{
              background-color: $main-color;
            }
          }
        }
      }
      }
      .right_back{
        background-image: url('../img/png/18.png') !important;
        background-position: center;
        background-size: cover;
        position: relative;
      .overlay{
        @extend %over;
        background-color: rgba($h-color, .9) !important;
      }
       
      }
     
    }
  }


//start features block elements style
.features{
  padding-top: 150px ;

  .main_pairent{
    // padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    .top_pairent{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap :20px;
      padding: 0 20px;
      .chiled:nth-of-type(2){
        &:hover{
          cursor: zoom-in;
          .img{
            transform: scale(2.6);
            -webkit-transform: scale(2.6);
            -moz-transform: scale(2.6);
            -ms-transform: scale(2.6);
            -o-transform: scale(2.6);
           }
        }
      }
   
      .chiled{
       
        .main_con{
          
          h4, h3, p{
            text-transform: capitalize;
          }
          h4{
           color: $main-color;
           font-size: $main-font + 2px;
          }
          h3{
            font-size: $main-font * 2;
            color: $second-color;
            margin: 10px 0;

          }
          p{
            max-width: 480px;
            color: rgba($second-color, .5);

          }
          .foot{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
            .chile{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
             
              i{
                color: $main-color;
                font-size: $main-font * 2;
                background-color: rgba($p-color, .2);
                padding: 8px 8px;
                width: 50px;
                height: 50px;
                line-height: 1.2;

              }
              .info{
                padding-left: 15px;

                h4{
                  font-size: $main-font * 2;
                  font-weight: bold;
                  color: $second-color;
                  padding: 0;
                  margin: 0;

                }
                span{
                  text-transform: capitalize;
                  color: rgba($second-color, .5);

                }
              }
            }
          }
        }
        .main{
         height: 300px;
          width: 450px;
         overflow: hidden;
         border-top-left-radius:30px;
         border-bottom-right-radius:30px;
         box-shadow: 10px 10px rgba($second-color, .7), 20px 20px 2px rgba($second-color, .5), 30px 30px 4px rgba($second-color, .2);
        @media(max-width:575px){
          height: 220px;
          width:300px ;
          
        }
          .img{
            background-image: url('../img/gallery/2.jpg');
            background-size: cover;
            background-position: center;
           height: 100%;  
           width: 300px; 
           @include transition(2s);

          }
        }
      }
    }
    //start style for the second columan
    .bottom_pairent{
      background-color: rgba($main-color, .1);
      padding: 100px 20px;
      margin-top: 70px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      position: relative;
      z-index: 99;
      gap: 20px;
      overflow: hidden;
      // @include transition(1.2s);
      &:hover{
        .add_over1{
          clip-path: circle(2000px at 100% 0%) ;
        }
        .add_over2{
          clip-path: circle(1500px at 100% 0%) ;
        }
      }
      .add_over1{
        position: absolute;
        @extend %over;
        clip-path: circle(0px at 100% 0%) ;
        @include transition(1.2s);
        background-color: rgba($main-color, .1) !important;
       
      }
      //add second over 
      .add_over2{
        position: absolute;
        @extend %over;
        clip-path: circle(0px at 100% 0%) ;
        @include transition(1.7s);
        background-color: rgba($main-color, .2) !important;
       
      }
      .left_info{
        position: relative;
        .main{
          position: relative;
          span{
            text-transform: capitalize;
            color: $main-color;

          }
          h3{
            text-transform: uppercase;
            font-size: $main-font * 2;
            color: $second-color;
            span{
              color: $p-color;
              font-weight: bold;

            }
          }
          p{
            max-width: 450px;
            color: rgba($second-color, .5);
            text-transform: capitalize;

          }
          button{
            width: 150px;
            height: 50px;
            background-color: transparent;
            outline: none;
            border: 4px double $main-color;
            margin-top: 15px;
            a{
              text-decoration: none;
              color: $second-color;
              text-transform: uppercase;
              font-size: $main-font - 2px;

            }
          }
        }
      }
      .right_cont{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:stretch;
        gap: 20px;
        .pairent{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 20px;
          .chiled{
            .main{
              padding: 20px 20px;
              background-color: $h-color;
              @include border-R(15px);
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              @include transition(.4s);
              // border: 5px dashed $main-color;
              border-top: 5px dashed $main-color;
              border-right: 5px dashed $main-color;
              border-bottom: 5px dashed $h-color;
              border-left: 5px dashed $h-color;
              &:hover{
                background-color: transparent;
                border-top: 5px dashed transparent;
              border-right: 5px dashed transparent;
              border-bottom: 5px dashed $main-color;
              border-left: 5px dashed $main-color;
              }
              img{
                height: 60px;

              }
              .right{
                padding-left: 15px;
                h4, span{
                  text-transform: capitalize;
                }
                h4{
                  font-weight: bold;
                  color: $second-color;
                  font-size: $main-font + 3px;

                }
                span{
                  max-width: 250px;
                  display: block;
                  color: rgba($second-color, .5);

                }
              }
            }
          }
        }
      }
    }
  }
}


//start devition_content block elements style
.devition_content{
  .pairent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .chiled{
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: rgba($second-color, .1) !important;
      background-size: cover;
      background-position: center;
      @include transition(.5s);
       flex-grow: 1;
       &:hover{
         flex-grow: 2 !important;
         background-image: url('../img/gallery/6.jpg');
         .overlay{
         
        }
        .apper{
          display: none;
        }
        .hidden{
          display: block !important;
        }
       }
       @media(max-width:991px){
         width: 50%;
       }
       @media(max-width:767px){
        width: 100%;
        &:hover{
          flex-grow: none
        }
      }
      .overlay{
        @extend %over;
        background-color: rgba($second-color, .8) !important;
      }
      .main{
        text-align: center;
        position: relative;
        min-height: 500px;
        .apper{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          
          i{
             font-size: $main-font * 2;
             color: $main-color;

          }
          h4{
            text-transform: capitalize;
            color: $h-color;
            display: block;
            margin-top: 10px;
            font-weight: bold;

          }

        }
        .hidden{
        display: none;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
          span{
            max-width: 400px;
            display: block;
            color: $p-color;
            line-height: 1.4;

            text-transform: capitalize;
          }
          .link{
            margin-top:10px ;
            button{
              width: 130px;
              height: 35px;
             border: 4px double $h-color;
              background-color: transparent;
              outline: none;
              @include transition(.3s);
               &:hover{
                 background-color: $main-color;
               }

              a{
                text-decoration: none;
                text-transform: capitalize;
                color: $h-color;
                font-size: $main-font - 2px;

              }
            }
            
           
          }
        }
      }
    }
    // change all chiled backgound image
    .chiled:nth-last-of-type(2) {
      &:hover{
        background-image: url('../img/gallery/1.jpg');
      }
    }
    //
    .chiled:nth-last-of-type(3) {
      &:hover{
        background-image: url('../img/gallery/5.jpg');
      }
    }
    //
    .chiled:nth-last-of-type(4) {
      &:hover{
        background-image: url('../img/gallery/7.jpg');
      }
    }
  }
}


//start event block elements style 
.event{
  padding: 100px 0;
  .top_pairent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    .pairent_left{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
     gap: 20px;
      .top_head_info{
        padding:20px  ;
        h3, span{
          text-transform: capitalize;

        }
       
        h3{
          color: $second-color;
          span{
            color: $main-color;
          }
        }
        span{
          color: rgba($second-color, .7);
        }
      }
      .chiled_pairent{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        // padding: 20px;
        &:hover{
          .img{
            filter:none !important;
            -webkit-filter:none !important;
}
        }
        
        .chiled_left{
          padding: 20px;
          .img{
            background-image: url('../img/gallery/10.jpg');
            background-size: cover;
            background-position: center;
            height: 250px;
            width: 280px;
            position: relative;
            filter: sepia(100%);
            -webkit-filter: sepia(100%);
            .top_left_info{
              position: absolute;
              width: 120px;
              height: 140px;
              background-color: $main-color;
              text-align: center;
              top: 0;
              left: 0;
              h4{
                text-align: center;
                font-weight: bold; 
                font-size: 3 * $main-font;
                color: $h-color;
                line-height: 1;
                margin-top: 15px;
                text-transform: uppercase;
              }
            }
          }
          .tow{
            background-image: url('../img/gallery/9.jpg');
          }
        }
        .chiled_right{
          padding: 25px;
          
          h3, p{
            max-width: 500px;
            display: block;
          }
          p{
            color: rgba($second-color, .5);
            margin-top: 7px;
          }
        }
      }
    }
    .pairent_right{
      display: flex;
      flex-direction: column;
      
      .pairent{
        margin-top: 50px;
        &::before{
          position: absolute;
          content: '';
          width: 3px;
          height: 217px;
          margin-left: -30px;
          margin-top: 24px;
          background: $p-color;
        }
        .chiled{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          padding-top: 10px;
          margin: 10px 0;
          i{
            font-size: $main-font * 1.7;
            color: $main-color;
            line-height: 2;
            // padding: 10px;
            width: 60px;
            height: 60px;
            border: 1px solid $p-color;
            text-align: center;
            &:hover{
              color: $h-color;
              background-color: $main-color;
              border: 1px solid transparent;
            }
          }
         
          .right{
            padding-left: 15px;
           h4, span{
             text-transform: capitalize;
            display: block;
            margin: 0;
           }
           h4{
             font-size: $main-font + 3px;
           }
           span{
             padding: 5px 0;
             color: rgba($second-color, .5);
           }

          }

        }
      }
    }
  }
}


//start blog elements style
.blog{
  padding: 30px 0;
  .pairent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 70px;
    .chiled{

      img{
        // height: 400px;
      }
      .main{
        padding: 20px;

        h3{
          text-transform: uppercase;
          font-weight: bold;

          span{
            display: block;
            color: $main-color;

          }

        }
        p{
          max-width: 500px;
          color: rgba($second-color, .7);
          line-height: 1.4;
          margin-bottom: 0;

        }
        img{
          display: block;
          height: 70px;
          

        }
      }
    }
  }
}




// start main_pairent blocks elemets style
footer{
 background-color: $second-color;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  gap: 20px;
  .main_pairent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   padding: 0 20px;
    .pairent{
      // col number 1
      padding: 0 10px;
      h3{
        // font-weight: bold;
        margin: 20px 0 20px 0;
        color: $h-color;
        &::before{
          position: absolute;
          content: '';
          width: 30px;
          height: 4px;
          margin-left: 1px;
          margin-top: 37px;
          background: $main-color;
          @include border-R(5px);
        }

      }
      .chiled{
        
        .main{
          h3, span{
            text-transform: capitalize;
          }
          h3{
            font-weight: bold;
            margin: 20px 0 10px 0;
           

          }
          h3.custom{
            font-size: $main-font * 3;
            text-transform: uppercase;
            &::before{
              display: none;
            }

          }
          span{
            max-width: 300px;
            display: block;
            color: rgba($h-color, .5);
            

          }
          form{
            padding-top: 30px;
            .main{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
              gap:15px;
              
              label, input{
                


              }
              input{
                height: 40px;
                background-color: $h-color;
                // border: 1px solid $main-color;
                padding: 5px 10px;
                outline: none;
                border: none;
              }
              label{
                color: $h-color;
                text-transform: capitalize;
              }        
            }
            input[type=submit]{
              width: 100%;
              margin-top: 15px;
              padding: 10px 10px;
              outline: none;
              border: 1px solid $main-color;
              color: $h-color;
              height: 40px;
              background-color: $main-color;
              text-transform: uppercase;

            }
          }
        }
   
        .social{
          margin: 20px auto;
          text-align: center;
        button{
          width: 50px;
          height: 50px;
          background-color: transparent;
          border: 1px solid $h-color;
          margin: 0 10px;
          i{
            font-size: 1.3 * $main-font;
            color: $h-color;
          }
        }
        }
      }
      // col number 2
     .tuch_link{
       ul{
        padding-left: 0 !important;

         li{
           list-style-type: none;
           margin: 10px 0;
           background-color: rgba($h-color, .1);
           padding:  10px;
           border-top-left-radius: 10px;
           border-bottom-left-radius: 10px;
           @include transition(.3s);
           cursor: pointer;
           &:hover{
            background-color: rgba($main-color, .3);
           a{
             padding-left: 20px;
           }
          }
           a{
             text-decoration: none;
             text-transform: capitalize;
             color: $h-color;
             font-size:  $main-font + 2px;
             @include transition(.3s);
            
           }
         }
       }
     }
     //col number  3
     .img_pairent{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       align-items: center;
       align-content: center;
       gap: 5px;
      
       
      // gap: 10px;
       .item{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         gap: 5px;
         justify-content: space-around;
         @include transition(.4s);
         .con{
          overflow: hidden !important;
          position: relative;
          
          // height: 100px;
          
          // padding: 5px 4px; 
          &:hover{
            cursor: zoom-in;
            img{
              transform: scale(1.7);
              -webkit-transform: scale(1.7);
              -moz-transform: scale(1.7);
              -ms-transform: scale(1.7);
              -o-transform: scale(1.7);
         }
 
          }
    
        img{
          height: 100px;
          width: 120px;
          @include transition(.4s);     
          overflow: hidden !important;
         
        }
       }
      }
      
      
     }
      //col number  4
     img.mouckup{

     }
    }
  }
  // copy_right elements style
    .main_pairent{
      .left{
        span{
          text-decoration: none;
          color: rgba($h-color, .6);
          text-transform: capitalize;
          display: block;
          font-size: $main-font + 1px;
          a{
            color: $main-color;
            text-decoration: none;
            display: inline-block;
          }
        }
      }
    
  
    .right{
      ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        li{
          list-style-type: none;
          
          a{
            text-decoration: none;
            color: rgba($h-color, .6);
            text-transform: capitalize;
            font-size: $main-font + 3px;

          }
        }
      }
    }
  }
  // this forhr line
hr.hr{
  background-color: $h-color;
  color: $h-color;  
  position: relative;
  width: 80%;
  margin-left: 10%;
  border: 1px double $h-color;
  margin-top: 100px;
}
 
}


/******************
  all coy right are reserved to this design   thanks for reading  this few word 

*****************/
